_fs = 20px

#header
  z-index: 1000
  position: fixed
  top: 0
  left: 0
  right: 0
  background: $Cm
  display: block
  height: $Hh
  text-align: center

  createrequest
    padding: 4px 10px
    background-color: $Cb
    color: $Cm
    font-weight: bold
    border-radius: 5px

  nav-item, createrequest, title
    display: inline-block
    font-size: _fs

  title, createrequest, back
    vertical-align: middle

  back, title
    color: white

  back
    left: 0
    box-sizing: border-box
    background: url('../icon/back.png')

  nav-toggler, nav, back
    position: absolute

  nav-toggler, nav
    right: 0
  
  nav-toggler, back
    background-size: cover
    height: $Hh
    width: $Hh

  nav-toggler
    top: 0
    background: url('../icon/menu.png')
    background-size: cover

  nav
    text-align: left
    z-index: 100
    top: $Hh 
    left: 2vw   
    right: 2vw   
    min-width: 45vw
    padding: 2vh 5vw
    background: darken($Cb, 20%)
    font-size: _fs

  nav-item
    width: 100%
    padding: 2vh 0
    margin: 5px 0


  // MEDIA QUERIES
  @media (min-width: 400px)
    nav
      text-align: center

    nav-item
      width: 49%
