#header
  z-index: 100
  position: fixed
  top: 0
  left: 0
  right: 0
  height: $Hh
  text-align: center

  .inner
    background: $Cm
    display: block
    z-index: 10
    height: 100%
    width: 100%

  createrequest
    padding: .25em .5em
    background-color: $Cb
    color: $Cm
    font-weight: bold
    border-radius: .3125em

  title
    display: inline-block
    font-size: 1.25em

  nav-item, createrequest
    display: inline-block
    font-size: 1.2em

  title, createrequest, back
    vertical-align: middle

  back, title
    color: white

  back
    left: 0
    box-sizing: border-box
    background: url('../icon/back.png')

  nav-toggler, nav, back
    position: absolute

  nav-toggler, nav
    right: 0
  
  nav-toggler, back
    background-size: cover
    height: $Hh
    width: $Hh

  nav-toggler
    top: 0
    background: url('../icon/menu.png')
    background-size: cover

  nav
    text-align: left
    z-index: -1
    top: 100%
    left: .7em   
    right: .7em
    background: white
    border: .0625em solid darken(white, 10%)
    border-top: 0
    box-shadow: 0 .5em 1em -.4em rgba(0,0,0,.5)

  nav-item
    box-sizing: border-box
    width: 100%
    padding: .8em 1em
    // border-top: .0625em solid $Cm

