$dm = 12px
$im = 10px

#index
  margin: 0 auto
  
  h2
    display: block
    margin: 15px 0 10px
    font-size: 20px
    font-weight: bold
    text-align: center

  .isle
    padding: 0

  .inner
    padding: $im

  .name
    font-weight: bold
    text-align: right
    line-height: 1.1

  .confirmed, .not_confirmed
    &:before
      content: ''
      position: absolute
      left: -($dm/2)
      top: -($dm/2)
      width: $dm
      height: $dm
      border-radius: 50%

  .confirmed:before
    background: green

  .not_confirmed:before
    background: red

  .datetime
    min-width: 70px
    height: 100%
    padding: 5px 10px
    margin-right: $im
    font-size: 14px
    text-align: center
    background: $Cm
    float: left
    color: white

    p
      margin: 3px 0

  .time
    font-size: 24px
    margin-bottom: 8px !important

  date
    float: right