$im = .625em

#index
  margin: 0 auto

  &:first-child > h2
    margin-top: .5em
  
  h2
    display: block
    margin: 1.3em 0 .6em
    font-weight: bold
    text-align: center

  .isle
    padding: 0

  .withDoctor
    position: relative
    padding: $im
    &:before
      position: absolute
      content: 'Доктор'
      top: -.9em
      right: -.5em
      font-size: .75em
      padding: .4em
      background: $Cm
      color: white

  .name
    font-weight: bold
    text-align: right
    line-height: 1.1

  .datetime
    min-width: 6em
    height: 4.5em
    padding: .3125em .625em
    margin-right: $im
    font-size: 0.9em
    text-align: center
    background: $Cm
    float: left
    color: white
    &.withoutDoctor
      width: 100%
      box-sizing: border-box

    p
      margin: .125em 0

  .time
    font-size: 1.3em

  .day
    font-size: .8em

  date
    float: right