html, body, main
  width: 100%
  height: 100%

body
  background: $Cb
  font-family: 'Open Sans', sans-serif

main
  display: block
  padding-top: $Hh
  box-sizing: border-box

.VA
  &:before
    content: ''
    height: 100%
    display: inline-block
    vertical-align: middle
  & > div
    display: inline-block
    vertical-align: middle

button
  border: 0
  outline: none
  transition: transform .5s ease
  transform: scale(1) translatez(0)
  
  &.disabled
    background: gray !important
  
  &.connect
    display: block
    box-sizing: border-box
    width: 100%
    background: $Cm
    margin-top: 1em
    padding: .5em
    text-align: center
    font-size: 1.25em
    color: white

  

  &:active
    transform: scale(0.98) 


.hidden
  display: none
  
.cf:after
  content: ''
  display: table
  clear: both


.isle
  display: block
  position: relative
  box-sizing: border-box
  margin: 1em
  padding: 1em
  background: white
  box-shadow: 0 .125em .625em -.125em black

a.isle
  text-decoration: none
  color: black

.field
  font-size: 1em
  margin: .7em 0
  border: .0625em solid $Cm
  .fieldTitle
    display: block
    padding: .1em .3em .7em 
    color: white
    background: $Cm
    padding-bottom: .3em
    margin: 0 0 .3125em !important
  .innerField
    padding: .2em .5em
p
  line-height: 1.3
  // font-size: 1em

.tm //text margin
  margin: .5em 0

.nmt // no margin top
  margin-top: 0 !important

.nmb // no margin bottom
  margin-bottom: 0 !important

.tac
  text-align: center

h1, h2, h3
  font-weight: bold
  line-height: 1.3
  margin: .8em 0

h1
  font-size: 1.5em

h2
  font-size: 1.3em

h3
  font-size: 1.15em

table
  margin-top: .5em
  width: 100%
  td
    padding: .5em
    border: .0625em solid $Cm
