html,
body,
main {
  width: 100%;
  height: 100%;
}
body {
  background: url("../img/bg_pattern.png");
  font-family: 'Open Sans', sans-serif;
}
main {
  display: block;
  padding-top: 3em;
  box-sizing: border-box;
}
#input-stub {
  display: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.VA:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.VA > div {
  display: inline-block;
  vertical-align: middle;
}
button {
  border: 0;
  outline: none;
  transition: transform 0.5s ease;
  transform: scale(1) translatez(0);
}
button.disabled {
  background: #808080 !important;
}
button.connect {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background: #21447a;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
  font-size: 1.25em;
  color: #fff;
}
button:active {
  transform: scale(0.98);
}
.hidden {
  display: none;
}
.cf:after {
  content: '';
  display: table;
  clear: both;
}
.isle {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em;
  background: #fff;
  box-shadow: 0 0.125em 0.625em -0.125em #000;
}
a.isle {
  text-decoration: none;
  color: #000;
}
.field {
  font-size: 1em;
  margin: 0.7em 0;
  border: 0.0625em solid #21447a;
}
.field .fieldTitle {
  display: block;
  padding: 0.1em 0.3em 0.7em;
  color: #fff;
  background: #21447a;
  padding-bottom: 0.3em;
  margin: 0 0 0.3125em !important;
}
.field .innerField {
  padding: 0.2em 0.5em;
}
a {
  color: #21447a;
}
p {
  line-height: 1.3;
}
.tm {
  margin: 0.5em 0;
}
.nmt {
  margin-top: 0 !important;
}
.nmb {
  margin-bottom: 0 !important;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
h1,
h2,
h3 {
  font-weight: bold;
  line-height: 1.3;
  margin: 0.8em 0;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.15em;
}
table {
  margin-top: 0.5em;
  width: 100%;
}
table td {
  padding: 0.5em;
  border: 0.0625em solid #21447a;
}
.form-item {
  display: block;
  margin-bottom: 1em;
}
.form-item p {
  font-size: 0.8em;
  margin-bottom: 0.1em;
}
.form-item input,
.form-item select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
}
.form-item select {
  height: 2.5em;
}
.form-item input {
  padding: 0.5em;
}
.form-item .valid {
  background: rgba(0,200,0,0.1);
}
.form-item .invalid {
  background: rgba(200,0,0,0.1);
}
#header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  text-align: center;
}
#header .inner {
  background: #21447a;
  display: block;
  z-index: 10;
  height: 100%;
  width: 100%;
}
#header createrequest {
  padding: 0.25em 0.5em;
  background-color: #e4e4e4;
  color: #21447a;
  font-weight: bold;
  border-radius: 0.3125em;
}
#header title {
  display: inline-block;
  font-size: 1.25em;
}
#header nav-item,
#header createrequest {
  display: inline-block;
  font-size: 1.2em;
}
#header title,
#header createrequest,
#header back {
  vertical-align: middle;
}
#header back,
#header title {
  color: #fff;
}
#header back {
  left: 0;
  box-sizing: border-box;
  background: url("../icon/back.png");
}
#header nav-toggler,
#header nav,
#header back {
  position: absolute;
}
#header nav-toggler,
#header nav {
  right: 0;
}
#header nav-toggler,
#header back {
  background-size: cover;
  height: 3em;
  width: 3em;
}
#header nav-toggler {
  top: 0;
  background: url("../icon/menu.png");
  background-size: cover;
}
#header nav {
  text-align: left;
  z-index: -1;
  top: -16em;
  left: 1em;
  right: 1em;
  background: #b6b6b6;
  transition: top 0.2s ease;
}
#header nav.opened {
  top: 100%;
}
#header nav-item {
  width: 100%;
  padding: 0.5em 1em;
  margin: 0.3em;
}
#index {
  margin: 0 auto;
}
#index:first-child > h2 {
  margin-top: 0.5em;
}
#index h2 {
  display: block;
  margin: 1.3em 0 0.6em;
  font-weight: bold;
  text-align: center;
}
#index .isle {
  padding: 0;
}
#index .withDoctor {
  position: relative;
  padding: 0.625em;
}
#index .withDoctor:before {
  position: absolute;
  content: 'Доктор';
  top: -0.9em;
  right: -0.5em;
  font-size: 0.75em;
  padding: 0.4em;
  background: #21447a;
  color: #fff;
}
#index .name {
  font-weight: bold;
  text-align: right;
  line-height: 1.1;
}
#index .datetime {
  min-width: 6em;
  height: 4.5em;
  padding: 0.3125em 0.625em;
  margin-right: 0.625em;
  font-size: 0.9em;
  text-align: center;
  background: #21447a;
  float: left;
  color: #fff;
}
#index .datetime.withoutDoctor {
  width: 100%;
  box-sizing: border-box;
}
#index .datetime p {
  margin: 0.125em 0;
}
#index .time {
  font-size: 1.5em;
  margin-bottom: 0.5em !important;
}
#index .day {
  font-size: 0.8em;
}
#index date {
  float: right;
}
